.header {
    background-image: url("../../utils/images/background-book.jpg") ;
    background-position: center center;
    background-color: black;

    height: 500px;
    .inpt{
        padding: 100px 50px;
    }
}